* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:300;
}

body {
    background-color: lightblue;
}

.startBtn,
.infoBox,
.quizBox,
.resultBox {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.infoBox.activeInfo {
    opacity:1;
    pointer-events:auto;
    transform: translate(-50%, -50%);
}

.quizBox.activeQuiz {
    opacity:1;
    pointer-events:auto;
    transform: translate(-50%, -50%);
}

.startBtn button {
    font-size: 30px;
    color: blue;
    padding: 15px 30px;
    background-color: whitesmoke;
}

.infoBox {
    width:540px;
    background: whitesmoke;
    opacity:0;
    pointer-events:none;
    transform: translate(-50%, -50%);
}

.infoTitle {
    font-size: 50px;
    width:100%;
    border-bottom: 2px dashed gray;
    display:flex;
    align-items:center;
    padding: 15px 25px;
    font-weight:100;
}

.infoBox .infoList {
    padding: 10px 30px;
}

.infoBox .info {
    margin: 30px;
    font-size: 25px;
}

.infoBox .buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 25px;
    font-size: 25px;
}

.infoBox .buttons button {
    background-color:rgb(97, 97, 245);
    height:50px;
    width: 120px;
    padding: 0px 5px;
}

.quizBox {
    width: 540px;
    background:whitesmoke;
    opacity:0;
    pointer-events:none;
    transform: translate(-50%, -50%);

}

.quizBox header {
    height: 60px;
    padding: 5px 25px;
    background: salmon;
    display:flex;
    align-content: center;
    justify-content: space-between;

}

.quizBox header .title {
    font-size: 30px;
}

.quizBox header .timer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100px;
    height:50px;
}

.timerText, .timerSec {
    padding: 5px;
}

.quizBox section {
    padding: 20px;
}

.quizBox section .question {
    font-size: 35px;
}

.quizBox section .optionList {
    padding:10px;
    display:block;
}

.quizBox section .option {
    font-size: 25px;
    padding: 10px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border:1px solid aliceblue;
}

.quizBox footer {
    height: 60px;
    width:100%;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

footer .next {
    background-color:rgb(97, 97, 245);
    height:30px;
    width: 65px;
    padding: 0px 5px;
    align-items: center;
}

.resultBox {
    background: whitesmoke;
    width: 540px;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    opacity:0;
    pointer-events:none;
    transform: translate(-50%, -50%);
}

.resultBox .timeLeft {
    font-size: 20px;
    margin: 5px;
    display:flex;
}

.resultBox .buttons {
    display:flex;
    margin: 5px;
    font-size: 20px;
}

.resultBox .restart {
    background-color: rgb(57, 151, 233);
}

.queText {
    font-size:30px;
}

.option1, .option2, .option3, .option4 {
    font-size:25px;
    padding: 5px;
    background-color: aliceblue;
}