.infoBox {
  width: 540px;
  background: whitesmoke;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.quizBox {
  width: 540px;
  background: whitesmoke;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.infoBox.activeInfo {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

.quizBox.activeQuiz {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
